<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width = device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compataible" content="ie=edge"/>
	<link rel="stylesheet"  href="/style.css">
	<title> Image To PDF </title>
<body>
	<center>
		<h1> Image To PDF Converter </h1>
		<form action="/upload" method="POST" enctype="multipart/form-data">
			<input type="file" name="pratik"/>
			<button class="button" type="submit">Convert</button>
		</form>
	</center>
</body>
</html>
